<h1>Editing Referral</h1>

<%= render 'form', referral: @referral %>

<%= link_to 'Show', student_referral_path(@student, @referral) %> |
<%= link_to 'Back', student_referral_path(@student, @referral) %>
